<div class="l-grid-row">
  <h2 class="block_heading">借りる</h2>
</div>
<div class="l-grid-row">
  <div class="lending_nav block_content clearfix">
    <div class="l-grid-row">
      <form class="input_box">
	<input type="text">
      	<button>検索</button>
      </form>
    </div>
  </div>
</div>
