.header{
  height:50px;
  width:100%;
  background: #33cccc;
  .logo{
    width:220px;
    height:50px;
    background: #339999;
    color:#fff;
    text-align:center;
    line-height:50px;
    font-size:30px;
  }
}
