<div class="l-side-col l-grid-3-12 l-align-left">
    <div class="l-side-row">
      <%= partial 'pc/admin_panel' %>
    </div>
    <div class="l-side-row">
      <%= partial 'pc/usage_stats'%>
    </div>
</div>
