<div class="admin_panel">
  <ul>
    <li class="heading"><a href="/">管理画面</a></li>
    <li><a href="/">一覧</a></li>
    <li><a href="/">新規追加</a></li>
    <li>
      <form class="clearfix">
	<input type="text" class="l-align-left">
	<button class="l-align-right">検索</button>
      </form>
    </li>
  </ul>
</div>
