<div class="l-grid-row">
  <h2 class="block_heading">新しい備品</h2>
</div>
<div class="l-grid-row clearfix">
  <div class="l-grid-2-12 l-align-left">
    <div class="block_content product_small">
      <a href="/"><img src="http://www.oreilly.co.jp/books/images/picture_large978-4-87311-573-3.jpeg"></a>
      <a href="/">JavaScript第六版</a>
    </div>
  </div>
  <div class="l-grid-2-12 l-align-left">
    <div class="block_content product_small">
      <a href="/"><img src="http://www.oreilly.co.jp/books/images/picture_large978-4-87311-573-3.jpeg"></a>
      <a href="/">JavaScript第六版</a>
    </div>
  </div>
  <div class="l-grid-2-12 l-align-left">
    <div class="block_content product_small">
      <a href="/"><img src="http://www.oreilly.co.jp/books/images/picture_large978-4-87311-573-3.jpeg"></a>
      <a href="/">JavaScript第六版</a>
    </div>
  </div>
  <div class="l-grid-2-12 l-align-left">
    <div class="block_content product_small">
      <a href="/"><img src="http://www.oreilly.co.jp/books/images/picture_large978-4-87311-573-3.jpeg"></a>
      <a href="/">JavaScript第六版</a>
    </div>
  </div>
  <div class="l-grid-2-12 l-align-left">
    <div class="block_content product_small">
      <a href="/"><img src="http://www.oreilly.co.jp/books/images/picture_large978-4-87311-573-3.jpeg"></a>
      <a href="/">JavaScript第六版</a>
    </div>
  </div>
  <div class="l-grid-2-12 l-align-left">
    <div class="block_content product_small">
      <a href="/"><img src="http://www.oreilly.co.jp/books/images/picture_large978-4-87311-573-3.jpeg"></a>
      <a href="/">JavaScript第六版</a>
    </div>
  </div>
</div>
<div class="l-grid-row see_more">
  <a href="/">さらにみる</a>
</div>
