---
title: "ユーザーの管理"
layout: pc
---
<div class="l-constrained clearfix">
  <h1>管理画面</h1>
  <%= partial 'pc/admin_side' %>
  <div class="l-grid-9-12 l-align-left">
    <h2>ユーザーの管理</h2>
    <h3>参加を申請しているユーザ</h3>
    <% 5.times do %>
      <div class="l-grid-row">
	<div class="user_box block_content clearfix">
	  <div class="l-grid-1-12 l-align-left">
	    <img src="https://pbs.twimg.com/profile_images/541976875929571328/vnbAiTRn_400x400.png">
	  </div>
	  <div class="l-grid-7-12 l-align-left">
	    <p>
	      あさくら<br>
	      twitter:<a href="">@asakura_dev</a>
	    </p>
	  </div>
	  <div class="l-grid-4-12 l-align-left">
	    <form>
	      <button class="button button-warning button-offset">拒否</button>
	      <button class="button button-success button-offset">承認</button>
	    </form>
	  </div>
	</div>
      </div>
    <% end %>
    <h3>招待メールを送る</h3>
    <p>
      招待メール記載のURLから作成されたアカウントは自動で承認されます。<br>
      招待メール記載のURLからの登録は、メール送信から12時間有効です。
    </p>
    <div>
      <div class="invitation_form">
	<form>
	  <textarea placeholder="example@example.com
example2@example.com"></textarea>
	  <div class="anotation">改行を区切りとして、複数のメールアドレスに招待メールを送信することができます。</div>
	  <button class="button button-success l-align-right">メールを送信</button>
	</form>
      </div>    
    </div>
  </div>
</div>
