---
title: "ホーム画面"
layout: pc
---
<div class="l-constrained clearfix">
  <h1>管理画面</h1>
  <div class="l-side-col l-grid-3-12 l-align-left">
    <div class="l-side-row">
      <%= partial 'pc/admin_panel' %>
    </div>
    <div class="l-side-row">
      <%= partial 'pc/usage_stats'%>
    </div>
  </div>
  <div class="l-grid-9-12 l-align-left">
    
  </div>
</div>
