---
title: "ユーザーの承認と招待"
layout: pc
---
<div class="l-constrained clearfix">
  <h1>管理画面</h1>
  <%= partial 'pc/admin_side' %>
  <div class="l-grid-9-12 l-align-left">
    <h2>備品の新規追加</h2>
    <div class="goods_form">
      <div class="tab-buttons">
	<ul>
	  <li class="actived">手動</li>
	  <li>バーコード検索</li>
	  <li>商品検索</li>
	</ul>
      </div>
      <div class="tab-contents">
	<div class="tab-content l-grid-row actived">aa</div>
	<div class="tab-content l-grid-row">bb</div>
	<div class="tab-content l-grid-row">cc</div>
      </div>
    </div>
  </div>
</div>
