---
title: "新しくコメントが付けられた備品"
layout: pc
---
<div class="l-constrained">
  <h1 class="border_heading">新しくコメントがつけられた備品</h1>
  <% 5.times do %>
    <div class="l-grid-row clearfix">
      <% 2.times do %>
	<div class="l-grid-1-2 l-align-left">
	  <div class="block_content product_small clearfix">
	    <div class="l-grid-row clearfix">
	      <div class="l-grid-3-12 l-align-left">
		<div class="inner_offset">
		  <img src="/images/javascript.jpeg">
		</div>
	      </div>
	      <div class="l-grid-9-12 l-align-left">
		<a href="/">JavaScript第六版</a>
		<p>JavaScriptの教科書JavaScriptの教科書JavaScriptの教科書JavaScriptの教科書JavaScriptの教科書JavaScriptの教科書JavaScriptの教科書JavaScriptの教科書</p>
	      </div>
	    </div>
	    <div class="l-grid-row clearfix">
	      <div class="product_comment clearfix">
		<div class="l-grid-2-12 l-align-left">
		  <div class="inner_offset">
		    <img src="https://pbs.twimg.com/profile_images/541976875929571328/vnbAiTRn_400x400.png"><br>
		    <a href="">@asakura_dev</a>
		  </div>
		</div>
		<div class="l-grid-10-12 l-align-left">
		  <div class="fbox">気の利いたコメント気の利いたコメント気の利いたコメント気の利いたコメント気の利いたコメント</div>
		</div>
	      </div>
	    </div>
	    <div class="l-grid-row see_more">
	      <a href="/">他20件のコメント</a>
	    </div>
	  </div>
	</div>
      <% end %>
    </div>
  <% end %>
</div>
