---
title: "新規登録"
layout: pc
---
<div class="l-constrained">
  <h1 class="border_heading">新規登録</h1>
  <div class="l-grid-row signin_wrapper clearfix">
    <div class="l-grid-1-2 l-align-left side_divider_right">
      <div class="l-grid-10-12 l-align-center">
	<h2>メールアドレス</h2>
	<form class="input_box">
	  <input type="text">
	  <button>送信</button>
	</form>
      </div>
    </div>
    <div class="l-grid-1-2 l-align-left ">
      <div class="l-grid-8-12 l-align-center">
	<div class="social_btns">
	  <a href="/" class="link_btn link_btn_twitter link_btn_large">Twitterで登録</a>
	  <a href="/" class="link_btn link_btn_github link_btn_large">Githubで登録</a>
	</div>
      </div>
    </div>
  </div>
</div>
<div class="l-constrained">
  <h1 class="border_heading">ログイン</h1>
  <div class="l-grid-row signin_wrapper clearfix">
    <div class="l-grid-1-2 l-align-left side_divider_right">
      <div class="l-grid-10-12 l-align-center">
	<h2>メールアドレス</h2>
	<form class="input_box">
	  <input type="text">
	  <button>送信</button>
	</form>
      </div>
    </div>
    <div class="l-grid-1-2 l-align-left ">
      <div class="l-grid-8-12 l-align-center">
	<div class="social_btns">
	  <a href="/" class="link_btn link_btn_twitter link_btn_large">Twitterでログイン</a>
	  <a href="/" class="link_btn link_btn_github link_btn_large">Githubでログイン</a>
	</div>
	<p class="anotation">アカウント連携が済んでいる必要があります。</p>
      </div>
    </div>
  </div>
</div>
